.card {
    box-shadow: 3px 5px 5px 3px rgba($color: #000000, $alpha: 0.3);
    background: linear-gradient(135deg, rgb(19, 241, 252) 0%, rgb(4, 112, 220) 100%);
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
    display: inline-grid;
    width: 300px;
    min-height: 210px;
}

h1 {
    text-align: center;
}
